<ion-card (click)="openModalDetails(item())">
  <img class="product-img" [src]="item().imgUrl" [alt]="item().productName" />
  <ion-card-header>
    <ion-card-title>
      <h5>
        {{ item().productName }}
      </h5>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    @if (item().discount !== null) {
      <div class="product-price-discount">
        ${{ item().discount }}
        <br>
        <span class="product-price tachado">
          ${{ item().price }}
        </span>
      </div>
    }@else{
      <div class="product-price">
        ${{ item().price }}
      </div>
    }
  </ion-card-content>
</ion-card>
