.product-img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  margin: 0 auto;
}

.product-price {
  font-size: 18px;
  text-align: left;
  font-weight: bold;
  color: var(--color-black);
  margin-bottom: 16px;
}
.product-price-discount {
  font-size: 18px;
  text-align: left;
  font-weight: bold;
  color: var(--price-color);
  margin-bottom: 16px;
}
.tachado {
  text-decoration: line-through;
  font-size: 14px;
}
.discount-banner {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--discount-color);
  color: white;
  padding: 5px 10px;
  border-radius: 12px;
  font-weight: bold;
  font-size: 14px;
}

ion-card {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, 
              rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, 
              rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

ion-card:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px; 
  transform: translateY(-5px); 
}