<ion-content id="main-content">
  <div class="container">

    <!-- Contenido que será en componentes -->
    <div class="container-center">
      <ion-card class="form-container">
        <ion-card-content>
          <form class="form" [formGroup]="Form" (ngSubmit)="sendLogin()">
              <!-- Campo Email -->
              <div class="justify-content-center d-flex">
                <h3 class="title">Iniciar sesión</h3>  
              </div>
              <div class="form-group input-text">
                <label for="Correo">Usuario:</label>
                <input 
                  id="Correo" 
                  class="form-control" 
                  formControlName="Correo" 
                  type="email" 
                  maxlength="80"
                  placeholder="ejemplo@ejemplo.com" 
                  (input)="clearError('Correo')" 
                  autocomplete="off">
                  <div *ngIf="errors?.Correo">
                    <small class="text-danger">{{ errors?.Correo }}</small>
                  </div>
              </div>
              
              <!-- Campo Password -->
              <div class="form-group input-text">
                <label for="Clave">Contraseña:</label>
                <input 
                  id="Clave" 
                  class="form-control" 
                  formControlName="Clave" 
                  type="password" 
                  maxlength="40" 
                  (input)="clearError('Clave')" 
                  autocomplete="off">
                  <div *ngIf="errors?.Clave">
                    <small class="text-danger">{{ errors?.Clave }}</small>
                  </div>
              </div>


              <ion-button class="ion-button capitalize" expand="block" type="submit" [disabled]="loading">
                <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
                <span *ngIf="!loading">Entrar</span>
              </ion-button>

              <div class="justify-content-center d-flex text-crear-cuenta">
                <h6>¿No eres miembro? <a routerLink="/register">Crea la cuenta.</a></h6>
              </div>
          </form>
        </ion-card-content>
      </ion-card>

    </div>
  </div>

  <!-- Contenido que será en componentes -->

</ion-content>