:host {
  display: block;
}

ion-item.active {
  --color: var(--menu-color-text-active);
  --background: var(--menu-background-color-text-active);
}

.logo{
  width: 100px;
  margin-left: 20px;
}
.image-logout{
  width: 25px;
  height: 25px;
  margin-right: 5px;
}
.logout-p{
  margin-bottom: 0px;
  margin: none;
}
.ion-padding{
  --padding-start: var(--ion-padding, 0px);
  --padding-end: var(--ion-padding, 0px);
}