<ion-header>
  <ion-toolbar>
      <ion-img (click)="closeModal()" 
        routerLink="/" 
        routerLinkActive="active" 
        [routerLinkActiveOptions]="{ exact: true }" 
        class="logo" 
        [src]="linkLogo() | validUrl:'https://picsum.photos/id/250/200/100'">
      </ion-img>
    <ion-buttons slot="end">
        <ion-icon (click)="closeModal()" class="ion-icon" name="close"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-lg="6">
        <swiper-container #swiperContainer init="false" >
          @for (item of product?.images; track $index) {
          <swiper-slide>
            <img [src]="item" [alt]="item" />
          </swiper-slide>

          }
        </swiper-container>
      </ion-col>
      <ion-col size="12" size-lg="6">
        <ion-list>
          <ion-item lines="none">
            <h1>{{ product?.productName }}</h1>
          </ion-item>
          <ion-item lines="none">
            @if (product?.discount !== null) {
              <h2 class="price-discount">${{ product?.discount }}</h2>
              <h2 class="price tachado">${{ product?.price }}</h2>
            }@else{
              <h2 class="price">${{ product?.price }}</h2>
            }
          </ion-item>
          @if (product?.familia) {
            <ion-item>
              <h5 class="mr">Familia: </h5><p [innerHTML]="product?.familia"></p>
            </ion-item>
          }

          @if (product?.familia) {
            <ion-item>
              <h5 class="mr">categoria: </h5><p [innerHTML]="product?.categoria"></p>
            </ion-item>
        }
          @if (product?.modelo) {
            <ion-item>
              <h5 class="mr">modelo: </h5><p [innerHTML]="product?.modelo"></p>
            </ion-item>
        }
          @if (product?.marca) {
            <ion-item>
              <h5 class="mr">marca: </h5><p [innerHTML]="product?.marca"></p>
            </ion-item>
        }
          @if (product?.color) {
            <ion-item>
              <h5 class="mr">color: </h5><p [innerHTML]="product?.color"></p>
            </ion-item>
        }
          @if (product?.medida) {
            <ion-item>
              <h5 class="mr">medida: </h5><p [innerHTML]="product?.medida"></p>
            </ion-item>
        }
          @if (product?.description) {
            <ion-item>
              <h5 class="mr">Descripción: </h5><p [innerHTML]="product?.description"></p>
            </ion-item>
        }
          @if (product?.detalles) {
            <ion-item>
              <h5 class="mr">Detalles: </h5><p [innerHTML]="product?.detalles"></p>
            </ion-item>
        }
          <ion-item lines="none">
            <div class="container-buttons">
              <ion-button class="cotizar">Agregar al carrito</ion-button>
            </div>
          </ion-item>
        </ion-list>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>