<ion-content id="main-content">
  <div class="container">
    <!-- Contenido que será en componentes -->
    <div class="container-center">
      <ion-card class="form-container">
        <ion-card-content>
          <form class="form" [formGroup]="Form" (ngSubmit)="sendRegister()">
              <!-- Campo Email -->
              <div class="justify-content-center d-flex">
                <h3 class="title">Crear una cuenta</h3>  
              </div>

              <div class="form-group input-text">
                <label for="Nombre">Nombre:</label>
                <input 
                  id="Nombre" 
                  class="form-control" 
                  formControlName="Nombre" 
                  type="text" 
                  maxlength="80"
                  placeholder=""
                  (input)="clearError('Nombre')" 
                  autocomplete="off">
                  <div *ngIf="errors?.Nombre">
                    <small class="text-danger">{{ errors?.Nombre }}</small>
                  </div>
              </div>
              
              <div class="form-group input-text">
                <label for="Apellido_Paterno">Apellido Paterno:</label>
                <input 
                  id="Apellido_Paterno" 
                  class="form-control" 
                  formControlName="Apellido_Paterno" 
                  type="text" 
                  maxlength="40"
                  placeholder="" 
                  (input)="clearError('Apellido_Paterno')" 
                  autocomplete="off">
                  <div *ngIf="errors?.Apellido_Paterno">
                    <small class="text-danger">{{ errors?.Apellido_Paterno }}</small>
                  </div>
              </div>
              
              <div class="form-group input-text">
                <label for="Apellido_Materno">Apellido Materno(opcional):</label>
                <input 
                  id="Apellido_Materno" 
                  class="form-control" 
                  formControlName="Apellido_Materno" 
                  type="text" 
                  maxlength="40"
                  placeholder="" 
                  (input)="clearError('Apellido_Materno')" 
                  autocomplete="off">
                  <div *ngIf="errors?.Apellido_Materno">
                    <small class="text-danger">{{ errors?.Apellido_Materno }}</small>
                  </div>
              </div>
              
              <div class="form-group input-text">
                <label for="Correo">Correo:</label>
                <input 
                  id="Correo" 
                  class="form-control" 
                  formControlName="Correo" 
                  type="email" 
                  maxlength="80"
                  placeholder="ejemplo@ejemplo.com" 
                  (input)="clearError('Correo')" 
                  autocomplete="off">
                  <div *ngIf="errors?.Correo">
                    <small class="text-danger">{{ errors?.Correo }}</small>
                  </div>
              </div>
              
              <!-- Campo Password -->
              <div class="form-group input-text">
                <label for="Clave">Nueva Contraseña:</label>
                <input 
                  id="Clave" 
                  class="form-control" 
                  formControlName="Clave" 
                  type="password" 
                  maxlength="40" 
                  (input)="clearError('Clave')" 
                  autocomplete="off">
                  <div *ngIf="errors?.Clave">
                    <small class="text-danger">{{ errors?.Clave }}</small>
                  </div>
              </div>
              
              <div class="form-group input-text">
                <label for="Clave2">Confirmar Contraseña:</label>
                <input 
                  id="Clave2" 
                  class="form-control" 
                  formControlName="Clave2" 
                  type="password" 
                  maxlength="40" 
                  (input)="clearError('Clave2')" 
                  (keyup.enter)="sendRegister()" 
                  autocomplete="off">
                  <div *ngIf="errors?.Clave2">
                    <small class="text-danger">{{ errors?.Clave2 }}</small>
                  </div>
              </div>

              <ion-button class="ion-button capitalize" expand="block" type="submit" [disabled]="loading">
                <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
                <span *ngIf="!loading">Registrarse</span>
              </ion-button>

              <div class="justify-content-center d-flex text-crear-cuenta">
                <h6>¿Ya tienes una cuenta? <a routerLink="/login">Iniciar sesión.</a></h6>
              </div>
          </form>
        </ion-card-content>
      </ion-card>

    </div>
  </div>

  <!-- Contenido que será en componentes -->

</ion-content>