.ion-grid-filters{
    min-width: 280px;
    max-width: 280px;
}
.container-filters{
    width: 100%;
}
ion-card {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, 
                rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, 
                rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px;
  }