     <!-- Filtros -->
  <ion-grid class="ion-grid-filters d-none d-lg-block">
    <ion-row>
      <ion-card class="container-filters">
        <ion-card-content>
        <ion-chip>
          <ion-icon name="pin" color="primary"></ion-icon>
          <ion-label>Modelo general</ion-label>
          <ion-icon name="close"></ion-icon>
        </ion-chip>
        <ion-chip>
          <ion-icon name="pin" color="primary"></ion-icon>
          <ion-label>Modelo general</ion-label>
          <ion-icon name="close"></ion-icon>
        </ion-chip>
        
        <ion-accordion-group>
          <ion-accordion value="familia">
            <ion-item slot="header" color="light">
              <ion-label>Familia</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">Third Content</div>
          </ion-accordion>
          <ion-accordion value="categoria">
            <ion-item slot="header" color="light">
              <ion-label>Categoria <!-- Clasificacion familia--></ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">First Content</div>
          </ion-accordion>
          <ion-accordion value="modelo">
            <ion-item slot="header" color="light">
              <ion-label>Modelo</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">Second Content</div>
          </ion-accordion>
          <ion-accordion value="marca">
            <ion-item slot="header" color="light">
              <ion-label>Marca</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">Second Content</div>
          </ion-accordion>
          <ion-accordion value="color">
            <ion-item slot="header" color="light">
              <ion-label>Color</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">Second Content</div>
          </ion-accordion>
          <ion-accordion value="medida">
            <ion-item slot="header" color="light">
              <ion-label>Medida</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">Second Content</div>
          </ion-accordion>
        </ion-accordion-group>
        </ion-card-content></ion-card>
    </ion-row>
  </ion-grid>
  
