ion-grid {
  margin-top: 10px;
}

ion-card-title {
  padding: 20px;
}

ion-card-content {
  padding: 20px;
}

ion-card {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.return {
  margin-right: 10px;
  --background: var(--color-red);
  color: var(--color-white);
}

.logo {
  width: 100px;
  margin-left: 20px;
  cursor: pointer;
}

.ion-icon {
  font-size: 30px;
  color: var(--color-primary);
  margin-right: 20px;
  cursor: pointer;
}

.input-text {
  margin-bottom: 20px;
}

ion-button {
  --background: var(--color-primary);
}

.title {
  font-size: 30px;
  margin-bottom: 30px;
}