<ion-header mode="md">
  <ion-toolbar>
    <ion-img (click)="closeModal()" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
      class="logo" [src]="linkLogo() | validUrl:'https://picsum.photos/id/250/200/100'">
    </ion-img>
    <ion-buttons slot="end">
      <ion-icon (click)="closeModal()" class="ion-icon" name="close"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content id="main-content">
  <ion-card class="form-container">
    <ion-card-content>
      <form class="form" [formGroup]="Form">

        <div class="d-flex justify-content-center">
          <h3 class="title">
            @if (create) {
              Agregar Domicilio
            }
            @if (edit) {
              Editar Domicilio
            }
          </h3>
        </div>
       
        <ion-row>
          
          <ion-col size="12" size-md="6">
            <div class="form-group input-text">
              <label for="Pais">País:</label>
              <select id="Pais" class="form-control" formControlName="Pais" (change)="clearError('Pais')">
                <option value="" disabled selected>Selecciona una opción</option>
                @for (item of paises; track $index) {
                <option [value]="item?.Id_Pais">{{ item?.Pais }}</option>
                }
              </select>
              @if (errors?.Pais) {
              <div>
                <small class="text-danger">{{ errors?.Pais }}</small>
              </div>

              } @else {
              <div class="d-lg-block d-md-block d-none" style="padding-top: 21px;"></div>
              }
            </div>
          </ion-col>

          <ion-col size="12" size-md="6">
            <div class="form-group input-text">
              <label for="Estado">Estado:</label>
              <input id="Estado" class="form-control" formControlName="Estado" type="text" maxlength="100"
                placeholder="" (input)="clearError('Estado')" autocomplete="off">
              @if (errors?.Estado) {
              <div>
                <small class="text-danger">{{ errors?.Estado }}</small>
              </div>
              }
            </div>
          </ion-col>
          
          <ion-col size="12" size-md="6">
            <div class="form-group input-text">
              <label for="Municipio">Municipio:</label>
              <select id="Municipio" class="form-control" formControlName="Municipio" (change)="clearError('Municipio')">
                <option value="" disabled selected>Selecciona una opción</option>
                @for (item of municipios; track $index) {
                <option [value]="item?.Id_Municipio">{{ item?.Municipio }}</option>
                }
              </select>
              @if (errors?.Municipio) {
              <div>
                <small class="text-danger">{{ errors?.Municipio }}</small>
              </div>

              } @else {
              <div class="d-lg-block d-md-block d-none" style="padding-top: 21px;"></div>
              }
            </div>
          </ion-col>
         
          <ion-col size="12" size-md="6">
            <div class="form-group input-text">
              <label for="Localidad">Localidad:</label>
              <select id="Localidad" class="form-control" formControlName="Localidad" (change)="clearError('Localidad')">
                <option value="" disabled selected>Selecciona una opción</option>
                @for (item of localidades; track $index) {
                <option [value]="item?.Id_Localidad">{{ item?.Localidad }}</option>
                }
              </select>
              @if (errors?.Localidad) {
              <div>
                <small class="text-danger">{{ errors?.Localidad }}</small>
              </div>

              } @else {
              <div class="d-lg-block d-md-block d-none" style="padding-top: 21px;"></div>
              }
            </div>
          </ion-col>

          <ion-col size="12" size-md="6">
            <div class="form-group input-text">
              <label for="Colonia">Colonia:</label>
              <select id="Colonia" class="form-control" formControlName="Colonia" (change)="clearError('Colonia')">
                <option value="" disabled selected>Selecciona una opción</option>
                @for (item of colonias; track $index) {
                <option [value]="item?.Id_Colonia">{{ item?.Colonia }}</option>
                }
              </select>
              @if (errors?.Colonia) {
              <div>
                <small class="text-danger">{{ errors?.Colonia }}</small>
              </div>
  
              } @else {
              <div class="d-lg-block d-md-block d-none" style="padding-top: 21px;"></div>
              }
            </div>
          </ion-col>
          
          <ion-col size="12" size-md="6">
            <div class="form-group input-text">
              <label for="Calle">Calle:</label>
              <input id="Calle" class="form-control" formControlName="Calle" type="text" maxlength="100" placeholder=""
                (input)="clearError('Calle')" autocomplete="off">
              @if (errors?.Calle) {
              <div>
                <small class="text-danger">{{ errors?.Calle }}</small>
              </div>
              }
            </div>
          </ion-col>
          <ion-col size="12" size-md="6">
            <div class="form-group input-text">
              <label for="Num_Ext">Número Exterior:</label>
              <input id="Num_Ext" class="form-control" formControlName="Num_Ext" type="text" maxlength="10"
                placeholder="" (input)="clearError('Num_Ext')" autocomplete="off">
              @if (errors?.Num_Ext) {
              <div>
                <small class="text-danger">{{ errors?.Num_Ext }}</small>
              </div>
              }
            </div>
          </ion-col>

          <ion-col size="12" size-md="6">
            <div class="form-group input-text">
              <label for="Num_Int">Número Interior (opcional):</label>
              <input id="Num_Int" class="form-control" formControlName="Num_Int" type="text" maxlength="10"
                placeholder="" (input)="clearError('Num_Int')" autocomplete="off">
              @if (errors?.Num_Int) {
              <div>
                <small class="text-danger">{{ errors?.Num_Int }}</small>
              </div>
              }
            </div>
          </ion-col>

          <ion-col size="12" size-md="6">
            <div class="form-group input-text">
              <label for="Indicaciones">Indicaciones (opcional):</label>
              <input id="Indicaciones" class="form-control" formControlName="Indicaciones" type="text" placeholder=""
                (input)="clearError('Indicaciones')" autocomplete="off">
              @if (errors?.Indicaciones) {
              <div>
                <small class="text-danger">{{ errors?.Indicaciones }}</small>
              </div>
              }
            </div>
          </ion-col>

          <ion-col size="12" size-md="6">
            <div class="form-group input-text">
              <label for="Entre_Calle1">Entre Calle 1 (opcional):</label>
              <input id="Entre_Calle1" class="form-control" formControlName="Entre_Calle1" type="text" maxlength="100"
                placeholder="" (input)="clearError('Entre_Calle1')" autocomplete="off">
              @if (errors?.Entre_Calle1) {
              <div>
                <small class="text-danger">{{ errors?.Entre_Calle1 }}</small>
              </div>
              }
            </div>
          </ion-col>

          <ion-col size="12" size-md="6">
            <div class="form-group input-text">
              <label for="Entre_Calle2">Entre Calle 2 (opcional):</label>
              <input id="Entre_Calle2" class="form-control" formControlName="Entre_Calle2" type="text" maxlength="100"
                placeholder="" (input)="clearError('Entre_Calle2')" autocomplete="off">
              @if (errors?.Entre_Calle2) {
              <div>
                <small class="text-danger">{{ errors?.Entre_Calle2 }}</small>
              </div>
              }
            </div>
          </ion-col>

          <ion-col size="12" size-md="6">
            <div class="form-group input-text">
              <label for="Geolocalizacion">Geolocalización (opcional):</label>
              <input id="Geolocalizacion" class="form-control" formControlName="Geolocalizacion" type="text"
                maxlength="100" placeholder="" (input)="clearError('Geolocalizacion')" autocomplete="off">
              @if (errors?.Geolocalizacion) {
              <div>
                <small class="text-danger">{{ errors?.Geolocalizacion }}</small>
              </div>
              }
            </div>
          </ion-col>

          <ion-col size="12" size-md="6">
            <div class="form-group input-text">
              <label for="Imagen_Domicilio">Imagen Domicilio (opcional):</label>
              <input id="Imagen_Domicilio" class="form-control" formControlName="Imagen_Domicilio" type="text"
                maxlength="200" placeholder="" (input)="clearError('Imagen_Domicilio')" autocomplete="off">
              @if (errors?.Imagen_Domicilio) {
              <div>
                <small class="text-danger">{{ errors?.Imagen_Domicilio }}</small>
              </div>
              }
            </div>
          </ion-col>

          <ion-col size="12" size-md="6">
            <div class="form-group input-text">
              <label for="Referencia">Referencia (opcional):</label>
              <input id="Referencia" class="form-control" formControlName="Referencia" type="text" maxlength="200"
                placeholder="" (input)="clearError('Referencia')" autocomplete="off">
              @if (errors?.Referencia) {
              <div>
                <small class="text-danger">{{ errors?.Referencia }}</small>
              </div>
              }
            </div>
          </ion-col>

        </ion-row>

        <ion-button (click)="sendAddress()" class="capitalize ion-button" expand="block" type="submit"
          [disabled]="loading">
          <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
          <span *ngIf="!loading">
            Guardar
          </span>
        </ion-button>

      </form>
    </ion-card-content>
  </ion-card>
</ion-content>