<ion-card class="form-container" [ngStyle]="isModal ? {'cursor': 'pointer'} : {}" (click)="SelectAddress($event)">
  <ion-card-content>
    <p class="font font-size">
      <strong>
        <span *ngIf="item()?.Calle">{{ item()?.Calle }} </span>
        <span *ngIf="item()?.Num_Ext">{{ item()?.Num_Ext }}, </span>
      </strong>
      <span *ngIf="colonia.length > 0">{{ colonia }}, </span>
      <span *ngIf="estado.length > 0">{{ estado }}, </span>
      <span *ngIf="pais.length > 0">{{ pais }}, </span>
      <span *ngIf="item()?.Num_Int">Número interior: {{ item()?.Num_Int }} </span>
      <span *ngIf="item()?.Entre_Calle1">, Entre {{ item()?.Entre_Calle1 }} </span>
      <span *ngIf="item()?.Entre_Calle2">y {{ item()?.Entre_Calle2 }} </span>
      <span *ngIf="item()?.Indicaciones">, {{ item()?.Indicaciones }} </span>
      <span *ngIf="item()?.Referencia">, {{ item()?.Referencia }} </span>
      <span>.</span>
    </p>

    <div class="d-flex buttons">
      <ion-button (click)="openEditModal(item()?.Id_Persona_Direccion)" class="capitalize button-option editar"
        fill="clear" [disabled]="loadingButton">
        <ion-spinner *ngIf="loadingButton" name="crescent"></ion-spinner>
        Editar
        <ion-icon name="create"></ion-icon>
      </ion-button>
      <ion-button (click)="deleteItem(item()?.Id_Persona_Direccion)" class="capitalize button-option eliminar"
        fill="clear">
        Eliminar
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </div>
  </ion-card-content>
</ion-card>