
.form {
  margin-top: 40px;
  margin-bottom: 40px;
}

ion-card {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, 
              rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, 
              rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  cursor: pointer;
}

ion-card-content{
  padding: 20px;
}

.ion-button{
  --background: var(--color-primary);
}
.editar{
  --color: var(--color-primary);
}
.eliminar{
  --color: var(--color-red);
}

@media screen and (max-width: 767px) {
  .buttons{
    justify-content: flex-end;
  }
}