<ion-card class="form-container" (click)="SelectAddress()">
  <ion-card-content>
    <p>
      <span *ngIf="item()?.Calle">{{ item()?.Calle }} </span>
      <span *ngIf="item()?.Num_Ext">{{ item()?.Num_Ext }} </span>
      <span *ngIf="item()?.Num_Int">Número interior: {{ item()?.Num_Int }} </span>
      <span *ngIf="item()?.Colonia">- {{ item()?.Colonia }} </span>
      <span *ngIf="item()?.Entre_Calle1">, Entre {{ item()?.Entre_Calle1 }} </span>
      <span *ngIf="item()?.Entre_Calle2">y {{ item()?.Entre_Calle2 }} </span>
      <span *ngIf="item()?.Indicaciones">, {{ item()?.Indicaciones }} </span>
      <span *ngIf="item()?.Referencia">, {{ item()?.Referencia }} </span>
    </p>


    <div class="d-flex buttons">
      <ion-button (click)="openEditModal(item()?.Id_Persona_Direccion)" class="capitalize editar" fill="clear">
        Editar
        <ion-icon name="create"></ion-icon>
      </ion-button>
      <ion-button (click)="deleteItem(item()?.Id_Persona_Direccion)" class="capitalize eliminar" fill="clear">
        Eliminar
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </div>
  </ion-card-content>
</ion-card>