 

<ion-content id="main-content">
  <app-shared-banner-title title="Contactanos" />
  <div class="container">

    <!-- Contenido que será en componentes -->
    <app-contact-form></app-contact-form>
    <app-shared-info [items]="data"/>

    <iframe
    *ngIf="mapSrc"
      [src]="mapSrc"
      width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade">
    </iframe>
    <!-- Contenido que será en componentes -->

  </div>
  <app-footer></app-footer>
</ion-content>