.product-table {
    width: 100%;

}

.table-scroll {
    max-height: 100%;
    /* O el tamaño que necesites */
    overflow-x: auto;
    overflow-y: hidden;
}

th {
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid #ccc;
}

td {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

tr {
    padding-top: 20px;
    padding-bottom: 20px;
}

ion-img {
    width: 100px;
    height: 100px;
    object-position: center;
    object-fit: cover;
}

.total-row td {
    background-color: #f9f9f9;
}

.cart-buttons {
    margin-top: 0px;
    margin-bottom: 40px;
    margin-right: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    @media screen and (max-width: 767px) {
        justify-content: center;
    }

}

.actualizar-button {
    font-weight: bold;
    --background: var(--color-secondary);
    font-size: 16px;
}

.finalizar-button {
    font-weight: bold;
    --background: var(--color-primary);
    font-size: 16px;
}