<ion-content>
  <div class="container">
    <!-- Contenido que será en componentes -->
   <ion-list>
    <ion-item>
      <ion-img class="ion-img" src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="imagen"></ion-img>
      <ion-label class="product-name">LODERA DE HULE P/AUTOMOVIL GM. (MOÑO) ( 4 PZAS )</ion-label>
      
      <ion-label>$4.00</ion-label>
    </ion-item>
    <ion-item>
      <ion-img class="ion-img" src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="imagen"></ion-img>
      <ion-label class="product-name">LODERA DE HULE P/AUTOMOVIL GM. (MOÑO) ( 4 PZAS )</ion-label>
      
      <ion-label>$4.00</ion-label>
    </ion-item>
    <ion-item>
      <ion-img class="ion-img" src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="imagen"></ion-img>
      <ion-label class="product-name">LODERA DE HULE P/AUTOMOVIL GM. (MOÑO) ( 4 PZAS )</ion-label>
      
      <ion-label>$4.00</ion-label>
    </ion-item>
   </ion-list>
  </div>

  <!-- Contenido que será en componentes -->

</ion-content>