<ion-content id="main-content">
  <div class="container">
    <!-- Contenido que será en componentes -->
    <ion-list>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Carrito de Compras</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <div class="table-scroll">
            <table class="product-table" *ngIf="!withoutData; else noDataTemplate">
              <thead>
                <tr>
                  <th>
                    <p>Acciones</p>
                  </th>
                  <th>
                    <p>Img</p>
                  </th>
                  <th>
                    <p>Producto</p>
                  </th>
                  <th>
                    <p>Precio</p>
                  </th>
                  <th>
                    <p>Cantidad</p>
                  </th>
                  <th>
                    <p>Total</p>
                  </th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of cartItems">
                  <td>
                    <ion-button color="danger" fill="clear" size="small" (click)="removeFromCart(item.id)">
                      <div class="container-icon">
                        <ion-icon class="icon-trash" name="trash-outline"></ion-icon>
                        <p class="font capitalize">eliminar</p>
                      </div>
                    </ion-button>
                  </td>
                  <td><ion-img [src]="item.image" alt="imagen" /></td>
                  <td>
                    <p>{{ item.name }}</p>
                  </td>
                  <td>
                    <p>
                      ${{ (item.discount && item.discount > 0 ? item.discount : item.price) | number:'1.2-2' }}
                    </p>
                  </td>
                  <td>
                    <div class="d-flex justify-content-left align-content-center container-cantidad">
                      <ion-button size="small" class="button-cantidad" (click)="decreaseQuantity(item)">-</ion-button>
                      <ion-input style="width: 100px;" mode="md" [debounce]="1000" type="number" min="1"
                        [value]="item.quantity" (ionInput)="onQuantityInput($event, item)" />
                      <ion-button size="small" class="button-cantidad" (click)="increaseQuantity(item)">+</ion-button>
                    </div>
                  </td>

                  <td>
                    <p>
                      ${{ ((item.discount && item.discount > 0 ? item.discount : item.price) * item.quantity) |
                      number:'1.2-2' }}
                    </p>
                  </td>

                </tr>
                <tr class="total-row">
                  <td colspan="5" style="text-align: right; font-weight: bold;">
                    <p>Subtotal</p>
                  </td>
                  <td style="font-weight: bold;">
                    <p>${{ subtotal | number:'1.2-2' }}</p>
                  </td>
                </tr>
              </tbody>

            </table>

            <ng-template #noDataTemplate>
              <div class="no-data-message">
                <h2 class="font">No hay productos en el carrito.</h2>
              </div>
            </ng-template>

          </div>
        </ion-card-content>
      </ion-card>


    </ion-list>

    <div class="cart-buttons">
      <ion-button expand="block" [disabled]="loadingButtonActualizar" class="actualizar-button capitalize"
        (click)="actualizarCarrito()">
        <ion-spinner *ngIf="loadingButtonActualizar" name="crescent"></ion-spinner>
        <span *ngIf="!loadingButtonActualizar">
          Actualizar carrito
        </span>
      </ion-button>
      <ion-button expand="block" [disabled]="loadingButtonFinalizar" class="finalizar-button capitalize"
        (click)="finalizarCompra()">
        <ion-spinner *ngIf="loadingButtonFinalizar" name="crescent"></ion-spinner>
        <span *ngIf="!loadingButtonFinalizar">
          Finalizar compra
        </span>
      </ion-button>
    </div>

  </div>

  <!-- Contenido que será en componentes -->

</ion-content>