:root {
    //Tema
    --color-primary: #1a5276; 
    --color-secondary: #000000;
    --color-tertiary: #000000; 

    //variables
    --color-white: white;
    --color-red: #e53935;
    
    //banner title
    --banner-color-text: var(--color-white);
    --banner-backgroud-color: var(--color-primary);

    //products
    --price-color: var(--color-red);
    --discount-color: var(--color-red);
    
    //Footer
    --footer-color-text: var(--color-white); 
    --footer-color-icon: var(--color-white); 
  }
