:root {
    //Tema
    --color-primary: #1a5276; 
    --color-secondary: #3d8bbb;
    --color-tertiary: #000000; 

    //font Family Global
    --font-family: 'Poppins-Regular', Arial, sans-serif;

    //variables globales
    --color-white: white;
    --color-black: black;
    --color-red: #e53935;

    //menu-Mobile
    --menu-color-text-active: var(--color-white);
    --menu-background-color-text-active: var(--color-primary);
    --menu-color-text: var(--color-black);

    //banner title
    --banner-color-text: var(--color-white);
    --banner-backgroud-color: var(--color-primary);

    //products
    --price-color: var(--color-red);
    --discount-color: var(--color-red);
    
    //Footer
    --footer-color-text: var(--color-white); 
    --footer-color-icon: var(--color-white); 
  }


  