<app-shared-header-modal [linkLogo]="link_logo" [title]="'Selecciona una forma de pago'"></app-shared-header-modal>
<ion-content>

  <div class="container">
    <div class="container-paypal">
      <app-shared-spinner *ngIf="loading" [title]="'redireccionando...'"></app-shared-spinner>
      <ngx-paypal [config]="payPalConfig"></ngx-paypal>
      <ion-button expand="block" [disabled]="loadingButton" class="finalizar-button capitalize"
        (click)="pay(true)">
        <ion-spinner *ngIf="loadingButton" name="crescent"></ion-spinner>
        <span *ngIf="!loadingButton">
          Apartado
        </span>
      </ion-button>
    </div>
  </div>

</ion-content>