.form-container {
    margin-top: 40px;
}

.form {
    margin-top: 40px;
    margin-bottom: 40px;
}

.title {
    font-size: 30px;
    margin-bottom: 30px;
}

ion-card {
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
        rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
        rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.text-crear-cuenta {
    margin-top: 30px;

    a {
        color: var(--ion-color-primary);
        text-decoration: none;
    }
}

.input-text {
    // --border-color: transparent !important;
    // --highlight-color-focused: black !important;
    // --highlight-color-valid: black !important;
    // --highlight-color-invalid: black !important;
    // --highlight-color: black !important;
    margin-bottom: 20px;
}

ion-button {
    margin-top: 20px;
    margin-bottom: 20px;
    --background: var(--color-primary);
}
.ion-avatar{
    min-width: 64px;
    min-height: 64px;
    max-width: 200px;
    max-height: 200px;
    width: 200px;
    height: 200px;
    object-fit: contain;
    //xs <576px to md <991px
    @media screen and (max-width: 991px) {
        width: 100px;
        height: 100px;
    }
    //xs
    @media screen and (max-width: 576px) {
        width: 64px;
        height: 64px;
    }
}


.ion-img {
    width: 72px;
    height: 72px;
    margin: 10px;
}

ion-list{
    margin-top: 52px;
}
.product-name{
    margin-left: 10px;
}

.ver{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.eye{
    margin-left: 10px;
}
.constancia{
    display: flex;
    align-items: center;
}

.disabled {
    pointer-events: none; // Evita clics
    opacity: 0.6; // Reduce la opacidad para indicar que está deshabilitado
    background-color: #f5f5f5; // Color de fondo para simular un input deshabilitado
    cursor: not-allowed; // Cambia el cursor a "no permitido"
  }
  