<ion-content id="main-content">
  <div class="container">
    <!-- Contenido que será en componentes -->
    <!-- Título -->

    <form class="form" [formGroup]="Form">
      <ion-card class="form-container">
        <ion-card-content>
          <div class="justify-content-center d-flex">
            <h3 class="title">Mi perfil</h3>
          </div>
          <ion-row class="d-flex align-items-center">
            <!-- Foto -->
            <ion-col class="d-flex justify-content-center" size="3" size-md="3">
              <ion-avatar class="ion-avatar">
                <img alt="profile" [src]="FotoTemporal" />
              </ion-avatar>
            </ion-col>
            <ion-col size="9" size-md="9">
              <div class="form-group input-text">
                <label for="Foto">Foto: (formato: .jpeg, .jpg, .png, o .svg)</label>
                <input id="Foto" class="form-control" formControlName="Foto" name="Foto" type="file"
                  accept="image/jpeg, image/jpg, image/png, image/svg" (input)="clearError('Foto')"
                  (change)="onFileSelected($event)">
                <div *ngIf="errors?.Foto">
                  <small class="text-danger">{{ errors?.Foto }}</small>
                </div>
              </div>
            </ion-col>

            <!-- Nombre -->
            <ion-col size="12" size-md="6">
              <div class="form-group input-text">
                <label for="Nombre">Nombre:</label>
                <input id="Nombre" class="form-control" formControlName="Nombre" type="text" maxlength="80"
                  placeholder="" (input)="clearError('Nombre')" autocomplete="off">
                @if (errors?.Nombre) {
                <div>
                  <small class="text-danger">{{ errors?.Nombre }}</small>
                </div>

                } @else {
                <div class="d-none d-md-block d-lg-block" style="padding-top: 21px;"></div>
                }
              </div>
            </ion-col>
            <!-- Apellido Paterno -->
            <ion-col size="12" size-md="6">
              <div class="form-group input-text">
                <label for="Apellido_Paterno">Apellido Paterno:</label>
                <input id="Apellido_Paterno" class="form-control" formControlName="Apellido_Paterno" type="text"
                  maxlength="40" (input)="clearError('Apellido_Paterno')">
                @if (errors?.Apellido_Paterno) {
                <div>
                  <small class="text-danger">{{ errors?.Apellido_Paterno }}</small>
                </div>

                } @else {
                <div class="d-none d-md-block d-lg-block" style="padding-top: 21px;"></div>
                }
              </div>
            </ion-col>
          </ion-row>

          <ion-row>
            <!-- Apellido Materno -->
            <ion-col size="12" size-md="6">
              <div class="form-group input-text">
                <label for="Apellido_Materno">Apellido Materno:</label>
                <input id="Apellido_Materno" class="form-control" formControlName="Apellido_Materno" type="text"
                  maxlength="40" (input)="clearError('Apellido_Materno')">
                @if (errors?.Apellido_Materno) {
                <div>
                  <small class="text-danger">{{ errors?.Apellido_Materno }}</small>
                </div>

                } @else {
                <div class="d-none d-md-block d-lg-block" style="padding-top: 21px;"></div>
                }
              </div>
            </ion-col>
          </ion-row>

          <ion-row>
            <!-- Whatsapp -->
            <ion-col size="12" size-md="6">
              <div class="form-group input-text">
                <label for="Whatsapp">WhatsApp:</label>
                <input id="Whatsapp" class="form-control" formControlName="Whatsapp" type="text"
                  (input)="clearError('Whatsapp')">
                @if (errors?.WhatsApp) {
                <div>
                  <small class="text-danger">{{ errors?.WhatsApp }}</small>
                </div>

                } @else {
                <div class="d-none d-md-block d-lg-block" style="padding-top: 21px;"></div>
                }
              </div>
            </ion-col>

            <!-- Teléfono -->
            <!-- Celular -->
            <ion-col size="12" size-md="6">
              <div class="form-group input-text">
                <label for="Celular">Celular:</label>
                <input id="Celular" class="form-control" formControlName="Celular" type="tel"
                  (input)="clearError('Celular')">
                @if (errors?.Celular) {
                <div>
                  <small class="text-danger">{{ errors?.Celular }}</small>
                </div>

                } @else {
                <div class="d-none d-md-block d-lg-block" style="padding-top: 21px;"></div>
                }
              </div>
            </ion-col>

            <ion-col size="12" size-md="6">
              <div class="form-group input-text">
                <label for="Telefono">Teléfono:</label>
                <input id="Telefono" class="form-control" formControlName="Telefono" type="tel"
                  (input)="clearError('Telefono')">
                @if (errors?.Telefono) {
                <div>
                  <small class="text-danger">{{ errors?.Telefono }}</small>
                </div>

                } @else {
                <div class="d-none d-md-block d-lg-block" style="padding-top: 21px;"></div>
                }
              </div>
            </ion-col>
          </ion-row>

          <ion-row>
          </ion-row>
          <!-- Botón Guardar -->
          <ion-button (click)="sendProfile()" class="ion-button capitalize" expand="block" type="submit"
            [disabled]="loading">
            <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
            <span *ngIf="!loading">Guardar</span>
          </ion-button>
        </ion-card-content>
      </ion-card>

      <ion-card class="form-container">
        <ion-card-content>
          <div class="justify-content-center d-flex mt-5 mb-3">
            <h3 class="title">Recuperar Contraseña</h3>
          </div>

          <ion-row>
            <!-- Correo -->
            <ion-col size="12" size-md="6">
              <div class="form-group input-text">
                <label for="Correo">Correo:</label>
                <input id="Correo" class="form-control disabled" formControlName="Correo" type="email"
                  (input)="clearError('Correo')" readonly [disabled]="true">
                @if (errors?.Correo) {
                <div>
                  <small class="text-danger">{{ errors?.Correo }}</small>
                </div>

                } @else {
                <div class="d-none d-md-block d-lg-block" style="padding-top: 21px;"></div>
                }
              </div>
            </ion-col>

            <!-- Usuario -->
            <ion-col size="12" size-md="6">
              <div class="form-group input-text">
                <label for="Usuario">Usuario:</label>
                <input id="Usuario" class="form-control disabled" formControlName="Usuario" type="text" readonly
                  (input)="clearError('Usuario')" readonly [disabled]="true">
                @if (errors?.Usuario) {
                <div>
                  <small class="text-danger">{{ errors?.Usuario }}</small>
                </div>

                } @else {
                <div class="d-none d-md-block d-lg-block" style="padding-top: 21px;"></div>
                }
              </div>
            </ion-col>

            <!-- Clave -->
            <ion-col size="12" size-md="12">
              <div class="form-group input-text">
                <label for="ClaveActual">Contraseña Actual:</label>
                <input id="ClaveActual" class="form-control" formControlName="ClaveActual" type="password"
                  (input)="clearError('ClaveActual')">
                @if (errors?.ClaveActual) {
                <div>
                  <small class="text-danger">{{ errors?.ClaveActual }}</small>
                </div>

                } @else {
                <div class="d-none d-md-block d-lg-block" style="padding-top: 21px;"></div>
                }
              </div>
            </ion-col>
          </ion-row>

          <ion-row>
            <!-- Clave Confirmación -->
            <ion-col size="12" size-md="6">
              <div class="form-group input-text">
                <label for="Clave">Nueva Contraseña:</label>
                <input id="Clave" class="form-control" formControlName="Clave" type="password"
                  (input)="clearError('Clave')">
                @if (errors?.Clave) {
                <div>
                  <small class="text-danger">{{ errors?.Clave }}</small>
                </div>

                } @else {
                <div class="d-none d-md-block d-lg-block" style="padding-top: 21px;"></div>
                }
              </div>
            </ion-col>
            <!-- Clave Confirmación -->
            <ion-col size="12" size-md="6">
              <div class="form-group input-text">
                <label for="Clave2">Confirmar Nueva Contraseña:</label>
                <input id="Clave2" class="form-control" formControlName="Clave2" type="password"
                  (input)="clearError('Clave2')">
                @if (errors?.Clave2) {
                <div>
                  <small class="text-danger">{{ errors?.Clave2 }}</small>
                </div>

                } @else {
                <div class="d-none d-md-block d-lg-block" style="padding-top: 21px;"></div>
                }
              </div>
            </ion-col>
          </ion-row>
          <!-- Botón Guardar -->
          <ion-button (click)="sendResetPassword()" class="ion-button capitalize" expand="block" type="submit" [disabled]="loading">
            <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
            <span *ngIf="!loading">Guardar</span>
          </ion-button>
        </ion-card-content>
      </ion-card>

      <ion-card class="form-container">
        <ion-card-content>
          <div class="justify-content-center d-flex mt-5 mb-3">
            <h3 class="title">Datos Fiscales</h3>
          </div>
          <ion-row>
            <!-- Constancia (Input File) -->
            <ion-col size="12" size-md="12">
              <div class="form-group input-text">
                <label for="constancia" class="constancia">
                  Constancia (.PDF, .JPG, .PNG, .JPEG):

                  <a *ngIf="constanciaTemporal" [href]="constanciaTemporal" target="_blank" class="ver">Ver Constancia
                    <ion-icon name="eye" class="eye"></ion-icon></a>
                </label>
                <input id="constancia" class="form-control" formControlName="constancia" type="file"
                  accept=".pdf, .jpg, .png, .jpeg" (change)="onFileSelectedConstancia($event)"
                  (input)="clearError('constancia')">
                <div *ngIf="errors?.constancia">
                  <small class="text-danger">{{ errors?.constancia }}</small>
                </div>
              </div>
            </ion-col>
          </ion-row>

          <ion-row>
            <!-- RFC -->
            <ion-col size="12" size-md="6">
              <div class="form-group input-text">
                <label for="RFC">RFC:</label>
                <input id="RFC" class="form-control" formControlName="RFC" type="text" (input)="clearError('RFC')">
                @if (errors?.RFC) {
                <div>
                  <small class="text-danger">{{ errors?.RFC }}</small>
                </div>

                } @else {
                <div class="d-none d-md-block d-lg-block" style="padding-top: 21px;"></div>
                }
              </div>
            </ion-col>
            <!-- Giro -->
            <ion-col size="12" size-md="6">
              <div class="form-group input-text">
                <label for="Giro">Giro:</label>
                <select id="Giro" class="form-control" formControlName="Giro" (change)="clearError('Giro')">
                  <option value="0" disabled selected>Selecciona una opción</option>
                  @for (item of giro; track $index) {
                  <option [value]="item?.Id_Giro">{{ item?.giro}}</option>
                  }
                </select>
                @if (errors?.Giro) {
                <div>
                  <small class="text-danger">{{ errors?.Giro }}</small>
                </div>

                } @else {
                <div class="d-none d-md-block d-lg-block" style="padding-top: 21px;"></div>
                }
              </div>
            </ion-col>

            <!-- Razón Social -->
            <ion-col size="12" size-md="6">
              <div class="form-group input-text">
                <label for="razonsocial">Razón Social:</label>
                <input id="razonsocial" class="form-control" formControlName="razonsocial" type="text"
                  (input)="clearError('razonsocial')">
                @if (errors?.razonsocial) {
                <div>
                  <small class="text-danger">{{ errors?.razonsocial }}</small>
                </div>

                } @else {
                <div class="d-none d-md-block d-lg-block" style="padding-top: 21px;"></div>
                }
              </div>
            </ion-col>
            <!-- Régimen Fiscal -->
            <ion-col size="12" size-md="6">
              <div class="form-group input-text">
                <label for="regimenfiscal">Régimen Fiscal:</label>
                <select id="regimenfiscal" class="form-control" formControlName="regimenfiscal"
                  (change)="clearError('regimenfiscal')">
                  <option value="0" disabled selected>Selecciona una opción</option>
                  @for (item of regimenFiscal; track $index) {
                  <option [value]="item?.clave_sat">{{ item?.Regimen}}</option>
                  }
                </select>
                @if (errors?.regimenfiscal) {
                <div>
                  <small class="text-danger">{{ errors?.regimenfiscal }}</small>
                </div>

                } @else {
                <div class="d-none d-md-block d-lg-block" style="padding-top: 21px;"></div>
                }
              </div>
            </ion-col>

            <!-- Código Postal Cliente -->
            <ion-col size="12" size-md="6">
              <div class="form-group input-text">
                <label for="codigopostalcliente">Código Postal Cliente:</label>
                <input id="codigopostalcliente" class="form-control" formControlName="codigopostalcliente" type="text"
                  (input)="clearError('codigopostalcliente')">
                @if (errors?.codigopostalcliente) {
                <div>
                  <small class="text-danger">{{ errors?.codigopostalcliente }}</small>
                </div>

                } @else {
                <div class="d-none d-md-block d-lg-block" style="padding-top: 21px;"></div>
                }
              </div>
            </ion-col>
            <!-- Uso CFDI (Select) -->
            <ion-col size="12" size-md="6">
              <div class="form-group input-text">
                <label for="usocfdi">Uso CFDI:</label>
                <select id="usocfdi" class="form-control" formControlName="usocfdi" (change)="clearError('usocfdi')">
                  <option value="" disabled selected>Selecciona una opción</option>
                  @for (item of usoCFDI; track $index) {
                  <option [value]="item?.Id_Uso_CFDI">{{ item?.Uso_CFDI}}</option>
                  }
                </select>
                @if (errors?.usocfdi) {
                <div>
                  <small class="text-danger">{{ errors?.usocfdi }}</small>
                </div>

                } @else {
                <div class="d-none d-md-block d-lg-block" style="padding-top: 21px;"></div>
                }
              </div>
            </ion-col>
          </ion-row>

          <!-- Botón Guardar -->
          <ion-button (click)="sendTaxData()" class="ion-button capitalize" expand="block" type="submit"
            [disabled]="loading">
            <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
            <span *ngIf="!loading">Guardar</span>
          </ion-button>
        </ion-card-content>
      </ion-card>

    </form>

  </div>

  <!-- Contenido que será en componentes -->

</ion-content>