<app-shared-header-modal [linkLogo]="link_logo" [title]="'Bitacora del Pedido'"></app-shared-header-modal>
<ion-content>
  <div class="container">

    <ion-card class="bitacora-card">
      <ion-card-content class="font">
        <ion-card-title class="font bitacora-title">
          <div class="title-with-button">
            <span>📦 Estado del Pedido</span>
            <ion-button class="capitalize" size="small" color="success" fill="outline">Autorizado</ion-button>
          </div>
        </ion-card-title>

        <!-- Etapas del pedido -->
        <ion-list class="etapas-list">
          
          <ion-item lines="full" *ngFor="let bit of bitacora">
            <ion-icon slot="start" name="checkmark-circle" color="success"></ion-icon>
            <div class="container-bitacora">
              <ion-label>{{ bit.Detalles }}</ion-label>
              <div class="container-info">
                <p class="font color-text">{{ bit.Fecha_Hora }}</p>
                <p class="font color-text">{{ bit.cliente }}</p>
              </div>
            </div>
          </ion-item>

        </ion-list>
      </ion-card-content>
    </ion-card>

  </div>

</ion-content>