.thank-you-container {
  text-align: center;

  .success-icon {
    font-size: 72px;
    color: var(--ion-color-success);
    margin: 20px 0;
  }

  ion-card {
    margin-top: 20px;
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, 
              rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, 
              rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  }

  ion-button {
    margin-top: 30px;
  }
}

.pedido-button {
    font-weight: bold;
    --background: var(--color-primary);
    font-size: 16px;
}

.seguir-button {
    font-weight: bold;
    --background: var(--color-secondary);
    font-size: 16px;
}

